.login-screen {
  background: url('https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png') center no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.login-screen__body {
  color: #fff;
  left: 0;
  margin: auto;
  padding: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 20%;
  width: 100%;
  z-index: 1;
}

.login-screen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.login-screen__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.login-screen__body > h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.login-screen__button {
  position: fixed;
  right: 20px;
  top: 20px;
}

.login-screen__logo {
  left: 0;
  margin-top: 20px;
  object-fit: contain;
  padding-left: 20px;
  position: fixed;
  width: 150px;
}

.login-screen__getStarted {
  font-size: 1rem;
  font-weight: 600;
  padding: 16px 20px;
}

.login-screen__gradient {
  background: rgba(0, 0, 0, 0.4);
  background-image:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
  height: 100vh;
  width: 100%;
  z-index: 1;
}
