.logo {
  cursor: pointer;
  margin-right: 40px;
  width: 150px;
}

.user-icon {
  cursor: pointer;
  width: 30px;
}

.fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.nav-menu {
  /* background-color: #111; */

  /* background: linear-gradient(0deg, rgba(0,0,0,0.7567401960784313) 0%, rgba(0,0,0,1) 100%); */

  /* height: 100px; */
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.nav-menu-show {
  background: none;
  transition: all 0.5s ease-in-out;
}

a {
  color: beige !important;
  transition: all 5s ease-in-out;
}

a:hover {
  color: lightgrey !important;
}

.nav-menu-show a {
  color: white !important;
}

.navbar-nav a {
  margin-right: 10px;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .navbar-nav {
    flex-direction: row !important;
  }

  .nav-link {
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 700px) {
  .nav-menu {
    position: sticky !important;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 100px;
  }
}
