.row {
  color: white;
  margin-left: 20px !important;
}

.row h2 {
  z-index: 100;
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}

.row__poster {
  background-position: center;
  background-size: cover;
  height: 150px;
  margin: 0 5px;
  object-fit: contain;
  transition: transform 450ms;
  width: 100px;
}

.row__poster::-webkit-scrollbar {
  display: none;
}

.row__poster:hover {
  opacity: 1;
  transform: scale(1.08);
}
