.screen {
  color: white;
  height: 100vh;
}

.screen__body {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 800px;
  padding-top: 8%;
  width: 70%;
}

.screen__info {
  display: flex;
}

.screen__info img {
  height: 170px;
  width: 170px;
}

.screen__body > h1 {
  border-bottom: 1px solid #282c2d;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
}

.screen__details {
  color: white;
  flex: 1;
  margin-left: 25px;
}

.screen__details > h2 {
  background-color: gray;
  font-size: 15px;
  padding: 15px;
  padding-left: 20px;
}

.screen__plan {
  display: flex;
  justify-content: space-between;
}

.screen__plan p {
  margin: 0;
}

.screen__plan * {
  margin: 5% 0;
}

.screen__plans {
  margin-top: 20px;
}

.screen__plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.screen__button {
  background-color: #e50914;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  width: 100%;
}

.screen__button:disabled {
  background-color: gray;
}

.screen__button:active {
  background-color: #610005;
}

.screen__plan .screen__button {
  height: 50px;
  max-width: 200px;
}

.screen__input > input {
  border: none;
  height: 56px;
  max-width: 600px;
  outline-width: 0;
  padding: 10px;
  width: 30%;
}

@media screen and (max-width: 600px) {
  .screen__info img {
    height: 80px;
    width: 80px;
  }
}

@media screen and (max-width: 490px) {
  .screen__plan .screen__button {
    height: 70px;
    margin-left: 10px;
  }
}
