.shows-list {
  color: white;
  margin-left: 20px !important;
  margin-top: 30px;
}

.shows-list h2 {
  z-index: 100;
}

.shows-list__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}

.shows-list__poster {
  background-position: center;
  background-size: cover;
  height: 250px;
  object-fit: contain;
  transition: transform 450ms;
  width: 200px;
}

.shows-list__poster::-webkit-scrollbar {
  display: none;
}

.shows-list__poster:hover {
  opacity: 1;
  transform: scale(1.08);
}
