.signin-screen {
  background: rgba(0, 0, 0, 0.85);
  margin: auto;
  max-width: 500px;
  padding: 70px;
}

.signin-screen > form {
  display: flex;
  flex-direction: column;
}

.signin-screen > form > input {
  border: none;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 14px;
  outline-width: 0;
  padding: 5px 15px;
}

.signin-screen > form > button {
  background-color: #e50914;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 16px 20px;
}

.signin-screen > form > h1 {
  margin-bottom: 25px;
  text-align: left;
}

.signin-screen > form > h4 {
  font-size: 1rem;
  text-align: left;
}

.signin-screen_gray {
  color: gray;
}

.signin-screen__link:hover {
  text-decoration: underline;
}
